.Medium{
    position: relative;
    min-height: 10px;
    }
.Medium-clear{
    background: transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
}
.Medium,
    .Medium p:first-child{
        margin-top:0;
        }
    .Medium p:last-child{
        margin-bottom:0;
        }
    .Medium p:empty {
        display: block;
	    height: 1em;
    }
.Medium-paste-hook{
    position: absolute;
    opacity:0;
    }
.Medium-placeholder{
	position: absolute;
	}
.Medium-placeholder div{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
	position: absolute;
	}
.Medium-placeholder-rich div{
	font-style: italic;
	}
.Medium-inline,
.Medium-placeholder-inline div,
.Medium-inlineRich,
.Medium-placeholder-inlineRich div{
	overflow: hidden;
	white-space: nowrap;
	}